@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.nav {
    border-bottom: 1px solid black;
    text-align: center;
}
.tab-content ul li a img {
    margin: 0 auto;
}
.tab-content{
    text-align: left;
}
.nav a:hover, .nav a:active {
    border-bottom: 4px red solid;
}
